body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header,
footer {
  background-color: #333;
  color: #fff;
}

header {
  height: 10vh;
  /* border: 1px solid white; */
  display: flex;
  flex-flow: row wrap;
  /* align-items: center; */
  justify-content: space-between;
  align-items: baseline;
}

main {
  /* min-height: calc(100vh - 150px); */
  background-color: antiquewhite;
  min-height: 85vh;
  /* min-height: calc(100vh - 200px); */
  padding: 2rem 1rem;
}

ul {
  list-style: none;
  /* display: flex; */
  /* margin-right: 1rem; */
}

li {
  display: inline-block;
  margin: 1rem;
}

a {
  color: #fff;
  color: #e310cb;
  /* color: #ffe100; */
  /* text-decoration: none; */
  /* margin-left: 1.25rem; */
}

a:hover {
  color: #ffe100;
  color: crimson;
}

footer {
  min-height: 5vh;
  display: flex;
  text-align: center;
  /* padding-top: 1.5rem; */
  justify-content: center;
  align-items: center;
}

.poke-container {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  max-width: 1200px;

  justify-content: space-between;
}

.poke-card {
  box-shadow: 0 0 5px rgb(92, 92, 92);
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  height: auto;
  text-align: center;
  padding: 1rem;
  border: 1px solid black;

  width: 130px;
  /* background-color: rebeccapurple; */

  margin: 1rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

.poke-img {
  /* background-image: url("https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png"); */
  width: 80%;
  /* height: 40%; */
}
